html {
    height: 100vh;
    width: 100vw;
}
body {
    height: inherit;
    width: inherit;

    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "ofelia-text";
}
h2 {
    display: inline;
    font-weight: 400;
}
a {
    background: linear-gradient(90deg in oklab, red, #00cc00, blue);
    background-clip: text;
    color: transparent;
    position: relative;
}
a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1.5px;
    bottom: 2px;
    background: inherit;
    background-clip: initial;
}
.colortext :first-child {
    color: red;
}
.colortext :nth-child(2) {
    color: lime;
}
.colortext :last-child {
    color: blue;
}
img {
    width: 200px;
}
canvas{
    width: 100%;
    height: 100%;
}