html {
    height: 100vh;
    width: 100vw;
}
body {
    height: inherit;
    width: inherit;
    font-family: "ofelia-text";
}

.center-content {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    display: inline;
    font-weight: 400;
}

[href] {
    cursor: pointer;
}
h2[href]:hover {
    text-decoration: underline;
}

.rainbow-text {
    background: linear-gradient(90deg in oklab, red, #00cc00, blue);
    background-clip: text;
    color: transparent;
}
.rainbow-text[href] {
    position: relative;

}
.rainbow-text[href]:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1.5px;
    bottom: 2px;
    background: inherit;
    background-clip: initial;
}

.red {
    color: red;
}
.grn {
    color: lime;
}
.blu {
    color: blue;
}

img {
    width: 200px;
}